/*
head/tl #214e63 main color
boxes #23757A
background #183A49

midnight blue 003366
coordinating grey 2c2c2c
analogous more green 066e7d
analogous more blue 06307d
shade darker 004673
shade darker still 002f4c
shade lighter 006eb2
shade lighter lighter 0095f2
monochrome < 265d74
monochrome << 006eb2
monochrome > 3682b2
*/

body{
	background-color: black;
	color: white;
	
	/*background-image:url("http://p1.pichost.me/i/41/1642961.jpg");*/
	background-image:url("http://gimpforums.com/attachment.php?aid=1408");
	background-attachment: fixed;
	background-position: center center;
}

.head-box{
	/*min-height: 200px;*/
	/*background-color: #674ea7;*/
	background-color: rgba(0,0,0,.5);
	color: white;
	padding: 10px;

	position: fixed;
	width: 100%;
	z-index: 1;
}
.head-box div.col-xs-10{
	text-align: center;
}
.head-box img{
	width: 100%;
}
.head-box button{
	background: transparent;
	border: 0px;
}

#info{
	text-align:left;
	padding: 20px;
}

.box{
	/*background-color : black;*/
	background-color: rgba(0,0,0,.3);
	border: 0px;
	border-radius: 10px;

	padding: 10px;

	min-height: 70px;

	cursor: pointer;
}

.left{
	border-right: 12px rgba(0,0,0,.5) solid;

	position: relative;
	left: 6px;

	padding-top: 10px;
	padding-bottom: 10px;
}

.right{
	border-left: 12px rgba(0,0,0,.5) solid;

	position: relative;
	right: 6px;

	padding-top: 10px;
	padding-bottom: 10px;
}

.box:hover{
	border-bottom: 5px rgba(0,0,0,.5) solid;
}
/*.right .box:hover{
	border-right: 5px #674ea7 solid;	
}*/

/* cutoff for bootstrap col-sm is >= 768px*/
@media (max-width: 767px){
	.left{
		border-right: 12px rgba(0,0,0,.5) solid;
		border-left: 0px;
		
		position: relative;
		left: 0px;
	}

	.right{
		border-right: 12px rgba(0,0,0,.5) solid;
		border-left: 0px;

		position: relative;
		right: 0px;
	}
	
	/*.right .box:hover{
		border-left: 5px #674ea7 solid;	
		border-right: 0px;
	}*/
}

.first{
	/*padding-top: 30px;*/
}

.callout-right::after{
	content:"";
	border-left: 10px rgba(0,0,0,.3) solid;
	border-right: 0px;
	border-top: 10px transparent solid;
	border-bottom: 10px transparent solid;
	margin: 0px;
	padding: 0px;
	width: 0px;
	height: 0px;

	position: absolute;
	right: 5px;
	top:30%;
}
.callout-left::before{
	content:"";
	border-right: 10px rgba(0,0,0,.3) solid;
	border-left: 0px;
	border-top: 10px transparent solid;
	border-bottom: 10px transparent solid;
	margin: 0px;
	padding: 0px;
	width: 0px;
	height: 0px;

	position: absolute;
	left: 5px;
	top: 30%;
}
@media (max-width: 767px){

	.callout-right::after{
		content:"";
		border-left: 10px rgba(0,0,0,.3) solid;
		border-right: 0px;
		border-top: 10px transparent solid;
		border-bottom: 10px transparent solid;
		margin: 0px;
		padding: 0px;
		width: 0px;
		height: 0px;

		position: absolute;
		right: 5px;
		top:30%;
	}
	.callout-left::after{
		content:"";
		border-right: 0px;
		border-left: 10px rgba(0,0,0,.3) solid;
		border-top: 10px transparent solid;
		border-bottom: 10px transparent solid;
		margin: 0px;
		padding: 0px;
		width: 0px;
		height: 0px;

		position: absolute;
		right: 5px;
		top: 30%;
	}
	.callout-left::before{
		border-right: 0px;
		border-left: 0px;
		border-top: 0px;
		border-bottom: 0px;
	}

}

.tl-icon{
	width: 60px;
	float: left;
	padding-right: 10px;
}

.top-spacer{

}
.first::after{
	content:"";
	border-left: 20px transparent solid; 
	border-right: 20px transparent solid;
	border-top: 0px;
	border-bottom: 20px rgba(0,0,0,.5) solid;
	margin: 0px;
	padding: 0px;
	width: 0px;
	height: 0px;

	position: absolute;
	left: 97.2%;
	bottom:100%;
}

.foot-box{
	/*min-height: 200px;*/
	/*background-color: #674ea7;*/
	background-color: rgba(0,0,0,.5);
	color: white;
	padding: 10px;

	width: 100%;

	min-height: 40px;

	text-align: center;
}

.circle-right::after{
	content:"";
	border-left: 10px black solid;
	border-right: 0px;
	border-top: 10px transparent solid;
	border-bottom: 10px transparent solid;
	margin: 0px;
	padding: 0px;
	width: 0px;
	height: 0px;

	position: absolute;
	right: 5px;
	top:30%;
}
